/* TEXT */
.about-wrapper {
    margin: 0 10px;
}

.about-header {
    font-size: 30px;
    text-align: center;
    letter-spacing: 2px;
    font-style: italic;
    margin-bottom: 0px;
    font-weight: 400;
}

.about-definition {
  font-size: 16px;
  text-align: center;
  margin: 0px;
  font-weight: 400;
}

.about-text {
    text-align: center;
    margin-top: 10px;
    line-height: 1.7;
    margin-bottom: 0px;
    font-weight: 400;
}

.about-image {
    text-align: center;
    margin-top: 10px;
}

.about-image > img {
	margin-left: 4px;
    height: 250px;
}
