* {
	font-family: Avenir, sans-serif;
	color: #212121;
}

h3 {
    margin: 0;
	text-align: center;
	font-size: 24px;
	margin-top: 15px;
	margin-bottom: 15px;
	font-weight: 500;
}

table {
	border-collapse: separate;
	border-width: 0px;
	font-size: 20px;
}

td, th {
	width: 80px;
	height: 60px;
	text-align: center;
	vertical-align: middle;
	border: none;
	position: relative;
}

th {
	height: 30px;
	font-size: 14px;
	font-weight: 400;
	margin-left: 0px;
	margin-right: 0px;
}

/* ADD BUTTON */
.add-button {
    position: absolute;
	top: 575px;
    left: 270px;
    width: 35px;
    height: 35px;
    border: none;
    border-radius: 100px; 
    background-color: #5DC3C2;
}


.add-button > img { 
	margin-top: 3px;
    width: 30px;
}

.common-event {
    width: 100%;
    color: #FFFFFF;
    height: 16px;
    font-size: 13px;
    border-radius: 10px;
}

.eventx {
    font-size: 14px;
    border: 1px solid #b9b9b9;
    border-radius: 10px;
    text-align: left;
    width: 150px;
    position: absolute;
    z-index: 999;
    top: -5px;
    padding: 5px;
    box-shadow: 1px 1px 1px #b9b9b9;
    color: #FFFFFF;
    left: -30px;
    display: none;
}

.bg-color3 {
    background: #52489C;
	font-size: 11px;
	width: 40px;
	border: none;
}

.bg-color2 {
    background: #4062BB;
	font-size: 11px;
	width: 40px;
	border: none;
}

.bg-color1 {
    background: #F45B69;
	font-size: 11px;
	width: 40px;
	border: none;
}

.bg-color0 {
    background: #FFFFFF;
	font-size: 11px;
	width: 40px;
	border: none;
}