.wrapper {
    background-image: url(../img/iphoneOL.jpg);
	background-repeat: no-repeat;
    width: 360px;
    /*border: 1px solid #d4d4d4;*/
    /*box-shadow: 2px 2px 2px #888888;*/
    overflow: hidden;
    min-height: 530px;
    padding-left: 32px;
    padding-top: 106px;
}

.inline {
    display: inline;
}

.navigator {
    width: 300px;
    height: 45px;
    overflow: hidden;
    background-color: #4062BB;
    color: white;
    text-align: right;
}

.navigator-icon {
    display: block;
    font-size: 30px;
}

#navigator-save {
    margin-left: 100px;
    font-size: 22px;
    margin-right: 10px;
}

#navigator-save:hover {
    font-weight: 700;
    text-shadow: black 0.1em 0.1em 0.2em;
}

.pointer {
    cursor: pointer;
}

.content {
    padding: 8px;
    min-height: 600px;
}

.input-grid {
    border-bottom: 1px solid #888888;
    padding-bottom: 7px;
    width: 280px;
}

.general-input {
    border: none;
    width: 270px;
    padding: 5px;
    height: 35px;
    font-size: 18px;
}

.content-icon {
    padding-top: 10px;
    color: black;
    font-size: 26px;
}

.input-date {
    width: 35px;
    border: 1px solid #808080;
    height: 20px;
    font-size: 13px;
    margin:0 2px;
}

.sign-date {
    font-size: 15px;
    margin-right: 10px;
}

.date-split{
    font-size: 4px;
    margin: 0 1px;
}

.date-row{
    margin-top: 10px;
}

#to-day {
    margin-left: 30px;
}

.wholeday {
    font-size: 17px;
    padding-top: 3px;
}

#location, #note {
    margin-left: 20px;
    width: 270px;
    height: 20px;
}

#remind {
    width: 60px;
    text-align: center;
}

.remind {
    font-size: 14px;
}

.remind-box {
    margin-left: 40px;
}

.remind-box1 {
    width: 200px;
}

.ikigai-choice {
    border: 1px solid black;
    height: 20px;
    border-radius: 15px;
    font-size: 14px;
    padding-left: 3px;
}

.noselect {
    -webkit-user-select: none;
    user-select: none;
    margin-left: 15px;
}

.i-table {
    margin-top: 8px;
}

.i-c {
    font-size: 10px;
    font-weight: 700;
}

.form_datetime {
    width: 225px;
    height: 20px;
    font-size: 12px;
    overflow: hidden;
    display: inline-table;
}

.form-control {
    height: 25px;
    padding-left: 5px;
    padding-right: 5px;
}

.input-group-addon {
    padding: 0px 12px;
}

body {
    line-height: normal;
}

.margin-left {
    margin-left: 18.3px;
}