.wrapper {
    margin-top: 30px;
    margin-left: 30px;
    width: 500px;
    border: 1px solid #d4d4d4;
    box-shadow: 2px 2px 2px #888888;
    overflow: hidden;
    min-height: 800px;
}

.inline {
    display: inline;
}

.navigator {
    width: 100%;
    height: 46px;
    overflow: hidden;
    background-color: #8f00e6;
    color: white;
    text-align: right;
}

.navigator-icon {
    display: block;
    font-size: 30px;
}

#navigator-save {
    margin-left: 300px;
    font-size: 22px;
    margin-right: 10px;
}

#navigator-save:hover {
    font-weight: 700;
    text-shadow: black 0.1em 0.1em 0.2em;
}

.pointer {
    cursor: pointer;
}

.content {
    padding: 8px;
}

.input-grid {
    border-bottom: 1px solid #888888;
    padding-bottom: 25px;
}

.general-input {
    border: none;
    width: 100%;
    padding: 5px;
    height: 35px;
    font-size: 25px;
}

.content-icon {
    padding-top: 10px;
    color: black;
    font-size: 26px;
}

.input-date {
    width: 62px;
    border: 1px solid #808080;
    height: 25px;
    font-size: 18px;
    margin:0 5px;
}

.sign-date {
    margin-left: 35px;
    font-size: 20px;
    margin-right: 10px;
}

.date-split{
    font-size: 22px;
    margin: 0 5px;
}

.date-row{
    margin-top: 10px;
}

#to-day {
    margin-left: 30px;
}

.wholeday {
    font-size: 25px;
    padding-top: 3px;
}

#location, #note {
    margin-left: 40px;
}

#remind {
    width: 60px;
    text-align: center;
}

.remind {
    font-size: 20px;
}

.remind-box {
    margin-left: 40px;
}

.ikigai-choice {
    border: 1px solid black;
    height: 60px;
    width: 60px;
    border-radius: 30px;
    font-size: 22px;
    padding-left: 6px;
    padding-top: 13px;
}

.ikigai-choice1 {
    border: 1px solid black;
    height: 60px;
    width: 60px;
    border-radius: 30px;
    font-size: 22px;
    padding-left: 2px;
    padding-top: 13px;
}

.noselect {
    -webkit-user-select: none;
    user-select: none;
}