/* TITLE */
h2 {
    text-align: center;
    font-size: 34px;
    margin: 15px;
}


/* GRAPH */

.ikigai-paid-for {
    position: absolute;
    left: 110px;
    width: 150px;
    height: 150px;
    border-radius: 100px;
    background-color: #52489C;
    opacity: 0.8;
}

.ikigai-paid-for:hover {
    opacity: 1;
    z-index: 1;
}

.ikigai-good-at {
    position: absolute;
    margin-left: 7px;
    margin-top: 70px;
    width: 150px;
    height: 150px;
    border-radius: 100px;
    background-color: #4062BB;
    opacity: 0.8;
}

.ikigai-good-at:hover {
    opacity: 1;
    z-index: 1;
}

.ikigai-needs {
    position: absolute;
    margin-top: 70px;
    margin-left: 143px;
    width: 150px;
    height: 150px;
    border-radius: 100px;
    background-color: #59C3C3;
    opacity: 0.8;
}

.ikigai-needs:hover {
    z-index: 1;
    opacity: 1;
}

.ikigai-love {
    position: absolute;
    margin-top: 136px;
    left: 110px;
    width: 150px;
    height: 150px;
    border-radius: 100px;
    background-color: #F45B69;
    opacity: 0.8;
}

.ikigai-love:hover {
    opacity: 1;
    z-index: 1;
}

.circle-text {
    height: 100%;
    width: 100%;
    font-size: 21px;
    padding-top: 50px;
    text-align: center;
    font-weight: 400;
    margin: 0;
}

/* INFO */

.info {
    position: absolute;
    margin-top: 300px;
    margin-left: 45px;
    border: 2px solid lightblue;
    border-radius: 15px;
    width: 200px;
    display: none;
    padding-left: 15px;
    margin-bottom: 7px;
}

#paid_info {
    border-color: #52489C;
}

#good_info {
    border-color: #4062BB;
}

#need_info {
    border-color: #59C3C3;
}

#love_info {
    border-color: #F45B69;
}

/* LEGEND */

.legend {
    margin-top: 360px;
}

.legend-spot {
    width: 15px;
    height: 15px;
    border-radius: 100px;
    display: inline-block;
    margin-left: 45px;
}

.legend-info {
    margin-left: 3px;
    display: inline-block;
}

#legend-paid {
    background-color: #52489C;
}

#legend-good {
    background-color: #4062BB;
}

#legend-need {
    background-color: #59C3C3;
}

#legend-love {
    background-color: #F45B69;
    margin-left: 13px;
}

.legend-info-ikigai {
    margin-left: 45px;
}
