/* HEADER */
.header {
	padding-top: 4px;
	color: #FFF;
	font-weight: 200;
	font-size: 28px;
    width: 100%;
}

/* TEXT */
.about-wrapper {
    margin: 0 10px;
}

.about-header {
    font-size: 30px;
    text-align: center;
    letter-spacing: 2px;
    font-style: italic;
    margin-bottom: 0px;
    font-weight: 400;
}

.about-definition {
  font-size: 16px;
  text-align: center;
  margin: 0px;
  font-weight: 400;
}

.about-text {
    text-align: center;
    margin-top: 10px;
    line-height: 1.7;
    margin-bottom: 0px;
    font-weight: 400;
}

.about-image {
    text-align: center;
    margin-top: 5px;
}

.about-image > img {
	margin-left: 4px;
    height: 250px;
}

/* NEXT BUTTON */
.done-button {
	margin-top: 20px;
    margin-left: 100px;
    width: 100px;
	height: 35px;
    border: none;
    background-color: #59C3C3;
    border-radius: 30px;
}

.done-button > h3 {
    margin: 0;
    font-weight: 300;
    color: #FFF;
}
