.menu-all {
    height: 530px;
    width: 300px;  
}

.menu-item {
    height: 65.2px;
    border-top: 1px solid #fff;
    background-color: #4062BB;
}

.menu-item > h2 {
    font-weight: 300;
    color: #FFF;
    margin-top: 16px;
}

.menu-item > img {
    float: left;
    margin: 15px 15px 0 75px;
    width: 35px;
}

.menu-title {
    background-color: #4062BB;
}

.menu-title > h2 {
    float: left;
    margin: 10px 0px 10px 107px;
    color: #FFF;
    font-size: 32px;
    font-weight: 400;
}

.menu-title > a > img {
    float: right;
    height: 25px;
    width: 25px;
    margin: 7px 7px 0 0;
}

form {
    margin-top: 16px;
    text-align: center;
}

input[type="text"] {
    width: 225px;
    height: 32px;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
    font-size: 14px;
    border-radius: 30px;
}

button {
    background: none;
    padding: 0;
    font: inherit;
}

.search-button {
    position: relative;
    margin: -43px 0 0 226px;
    float: left;
    width: 30px;
    height: 22.5px;
    border: none;
}

.search-button > img {
    width: 22.5px;
    height: 22.5px;
}
