/* INPUT */
.title {
    width: 100%;
    height: 50px;
    font-size: 24px;
    font-weight: 400;
    padding: 0 10px;
    border: none;
}

.content {
    width: 100%;
    height: 400px;
    padding: 10px;
    font-size: 16px;
    border: none;
}

/* DONE BUTTON */
.done-button {
    position: absolute;
    left: 135px;
    top: 545px;
    width: 100px;
    height: 35px;
    border: none;
    background-color: #59C3C3;
    border-radius: 30px;
}

.done-button > h3 {
    margin: 0;
    font-weight: 300;
    color: #FFF;
}

/* MORE BAR */
.more-bar {
    position: absolute;
    top: 595px;
    width: 300px;
    height: 40px;
    background-color: #4062BB;
}

.bar-buttons {
    position: absolute;
    height: 30px;
    margin: 5px;
    cursor: pointer;
}

.settings-button {
    left: 10px;
}

.more-button {
    right: 10px;    
}
    
/* SETTINGS ITEMS */
.setting-items {
    position: absolute;
    top: 595px;
    width: 300px;
    height: 40px;
    background-color: #4062BB;
}

.setting {
    left: 10px;
}

.attach {
    margin-left: 60px;
}

.camera {
    margin-left: 110px;
}

.image {
    margin-left: 163px;
}

.draw {
    margin-left: 210px;
}

.voice {
    margin-left: 255px;
}

/* MORE ITEMS */
.more-items {
    position: absolute;
    top: 595px;
    width: 300px;
    height: 40px;
    background-color: #4062BB;
}

.delete {
    left: 10px;
}

.copy {
    margin-left: 60px;
}

.forward {
    margin-left: 110px;
}

.collab {
    margin-left: 163px;
}

.label {
    margin-left: 210px;
}

.more {
    right: 10px;    
}