.menu-search {
    margin-bottom: -15px;
}

form {
    margin-top: 16px;
    text-align: center;
}

input[type="text"] {
    width: 225px;
    height: 32px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #212121;
    font-size: 14px;
    border-radius: 30px;
}

button {
    background: none;
    padding: 0;
    font: inherit;
}

.search-button {
    position: relative;
    margin: -43px 0 0 226px;
    float: left;
    width: 30px;
    height: 22.5px;
    border: none;
}

.search-button > img {
    width: 22.5px;
    height: 22.5px;
}

.notes-list {
    margin: 35px 10px;
}

.notes-item {
    margin: 10px;
    width: 270px;
    height: 35px;
}

.item-number {
    float: left;
    margin: 6px 10px 0 0;
    font-size: 18px;
    font-weight: 400;
}

.item-title {
    float: left;
    margin: 0;
    width: 130px;
    font-weight: 400;
}

.more-button {
    float: right;
    width: 25px;
    margin-left: 5px;  
}


/* ADD BUTTON */
.add-button {
    position: absolute;
    bottom: 120px;
    left: 270px;
    width: 35px;
    height: 35px;
    border: none;
    border-radius: 100px; 
    background-color: #5DC3C2;
}


.add-button > img { 
    width: 30px;
}