.priority-list {
    margin: 15px 10px;
}

.priority-item {
    margin: 10px;
    width: 270px;
    height: 35px;
}

.item-number {
    float: left;
    margin: 6px 10px 0 0;
    font-size: 18px;
    font-weight: 400;
}

.item-title {
    float: left;
    margin: 0;
    width: 120px;
    font-weight: 400;
}

.delete-button {
    float: right;
    width: 25px;
    margin-left: 5px;  
}


/* ADD PRIORITY */
.add-form {
    position: absolute;
    margin-left: 1px;
    background-color: #FFF;
    top: 300px;
    height: 335px;
    width: 298px;
}

.add-form-item {
    margin: 10px;
}

.add-form-title > input { 
    height: 30px;
    width: 100%;
    font-size: 22px; 
}

.form-item-title {
    margin: 3px 0;
    font-weight: 400;
}

.tag-buttons {
    display: flex;
    justify-content: space-around;
}

.tag-buttons > button {
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 100px;
    background-color: #5DC3C2;
    font-size: 14px;
    color: #FFF;   
}

.add-form-notes > textarea {
    height: 75px;
    width: 100%;
    font-size: 16px;
    border: 0.5px solid #dfdfdf;
}

.final-button {
    background-color: #5DC3C2;
    width: 100px;
    height: 35px;
    border-radius: 100px;
    color: #FFF;
    border: none;
}

.confirm-buttons {
    text-align: center;
    padding-top: 15px;
}

.discard-button {
    margin-right: 30px;
}

/* ADD BUTTON */
.add-button {
    position: absolute;
    top: 575px;
    left: 270px;
    width: 35px;
    height: 35px;
    border: none;
    border-radius: 100px; 
    background-color: #5DC3C2;
}


.add-button > img { 
    width: 30px;
}