/* HEADER */
.header {
	padding-top: 4px;
	color: #FFF;
	font-weight: 200;
	font-size: 28px;
    width: 100%;
}

/* PROMPT */
.prompt {
    text-align: center;
    margin: 40px 30px 20px 30px;
    font-size: 32px;
    color: #212121;
}

form {
    text-align: center;
}

input[type="text"] {
    width: 225px;
    height: 26px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #212121;
    font-size: 14px;
    border-radius: 30px;
}

button {
    background: none;
    padding: 0;
    font: inherit;
}

.add-button {
    position: relative;
    margin: -41px 0 0 232px;
    float: left;
    width: 30px;
    height: 22.5px;
    border: none;
}

.add-button > img {
    width: 22.5px;
    height: 22.5px;
}

/* ANSWERS */
.responses {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 40px;
}

.response-item {
    border: 1px solid #212121;
    border-radius: 30px;
    margin: 5px 5px;
    padding: 3px 10px;
    background-color: #FFF;

}

.response-item > p {
    float: left;
    margin: 0;
    font-size: 16px;
    color: #212121;
}

.response-item > img {
    margin: 3px -4px 3px 5px;
    width: 16px;
    height: 16px;
    cursor: pointer;
}

/* ARROWS  */

.button {
  display: inline-block;
}

.next-button {
    position: absolute;
    top: 580px;
    left: 200px;
    bottom: 140px;
    width: 100px;
    height: 35px;
    border: none;
    background-color: #59C3C3;
    border-radius: 30px;
}

.back-button {
    position: absolute;
    top: 580px;
    left: 60px;
    bottom: 130px;
    width: 100px;
    height: 35px;
    border: none;
    background-color: #59C3C3;
    border-radius: 30px;
}

.button > img {
    height: 30px;
}
